node_modules/
.npmrc*

.yalc
yalc.lock

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.env*
!.env.example

cache/
cache.coverage/

artifacts/*
!artifacts/contracts/
!artifacts/build-info/

artifacts.bak/
artifacts.coverage/

coverage*
.coverage*
flattened*
docs/
gas-report.md

deployments/hardhat*
deployments/localhost*

exports/localhost*
exports/hardhat*

generated/localhost*
generated/hardhat*

.mnemonic*

hardhat.config.last.json

*.log

.DS_Store
