node_modules/
.npmrc*

.yalc
yalc.lock

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.env*
!.env.example

cache/

artifacts/*
!artifacts/contracts/
!artifacts/build-info/

coverage/
coverage.json
*.coverage/

flattened*
docs/
gas-report*

deployments/hardhat*
deployments/localhost*

generated/localhost*
generated/hardhat*

.mnemonic*

hardhat.config.last.json

*.log

.DS_Store
