node_modules/
.npmrc*

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.env*
!.env.example

cache/
cache.coverage/

artifacts*
!artifacts/build-info/
!artifacts/contracts/
artifacts.coverage/

coverage*
.coverage*
smartcheck*
flattened*
docs/
gas-report.md

deployments/hardhat*
deployments/localhost*

exports/localhost*
exports/hardhat*

generated/localhost*
generated/hardhat*

.mnemonic*

test/.accounts

hardhat.config.last.json

*.log

.DS_Store
